<!DOCTYPE html>
<html>
  <head>
     <!--円グラフ導入にために、chart.jsを読み込む-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js" type="text/javascript"></script>
  </head>
  
  <body>
    <div class = "home-wrapper">
      <div class = "container">
        <div class = "row">
          <div class = "col-md-7 user_information">
            <ul class = "user_status">
        　     <% if logged_in? %>
                <li class = "current_user_name">
                 ログイン中のユーザー: <%= @current_user.name %>
                </li>
                <li class = "user_level">
             　   user_level：
                </li>
              <% end %>
            </ul>
          </div>
          <div class = "col-md-1"></div>
          <div class = "col-md-4 add_work_btn">
            <%= link_to "業務を追加","#",class:'btn btn-block btn-add' %>
          </div>
          <!--<p class = "col-md-4 add_work_btn">業務追加</p>-->
          
          
          <div class = "row">
            <div class = "col-md-7 work_index">
              <p class = "work_title">業務一覧</p>
            </div>
            <div class = "col-md-5 work_chart">
              <p class = "work_title2">業務状況</p>
              <div class = "pie_chart">
                <!--ここに円グラフを入れ込みたいので、canvasを記述する-->
                <canvas id="graph-area" height="250" width="300"></canvas>
                <script type="text/javascript">
                    // ▼グラフの中身
                    var pieData = [
                      {
                       value: 240,            // 値
                       color:"#F7464A",       // 色
                       highlight: "#FF5A5E",  // マウスが載った際の色
                       label: "完了"        // ラベル
                      },
                      {
                       value: 50,
                       color: "#41C44E",
                       highlight: "#6CD173",
                       label: "対応中"
                      },
                      {
                       value: 100,
                       color: "#FDB45C",
                       highlight: "#FFC870",
                       label: "未対応"
                      }
                    ];
                     // ↓グラフを描画するための記述
                     window.onload = function(){
                     var ctx = document.getElementById("graph-area").getContext("2d");
                     window.myPie = new Chart(ctx).Pie(pieData);
                     };
                </script>
                <!--ここまでコードを追加-->
                
              </div>
              <div class = "work_status_info"></div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </body>
</html>