// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.row{
  margin:10px 0px;
}

.home-wrapper{
  width:100vp;
  height:100vh;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.user_information{
  
  margin-top:90px;
  background-color:#fff;
  padding:0px;
  
  .user_status{
    height:90px;
    list-style:none;
    padding:30px;
    
    
    .current_user_name{
      padding:10px;
      background-color:lightcyan;
      margin-right:100px;
      margin-left:15px;
      font-size:20px;
    }
    
    .user_level{
      padding:10px;
      background-color:lightcyan;
      margin-right:50px;
      font-size:20px;
    }
  }
  
  .user_status li{
    float:left;
    font-weight:bold;
  }
}

.add_work_btn{
  margin-top:90px;
  padding:30px;
  height:100px;
  background-color:#fff;
  
}

.test{
  margin-top:100px;
}




.work_index{
  height:550px;
  background-color:#fff;
  margin-top:10px;
  // padding-top:10px;
  
  .work_title{
    padding:10px 30px;
    background-color:lightcyan;
    margin-top:10px;
    margin-left:30px;
    font-size:20px;
    font-weight:bold;
    width:150px;
    
    
  }
   .work_index_space{
    background-color:whitesmoke;
    height:435px;
    margin-left:30px;
   }
}


   
.work_chart{
  height:550px;
  background-color:#fff;
  margin-top:10px;
  
  
  .work_title2{
    padding:10px 30px;
    background-color:lightcyan;
    margin-top:10px;
    margin-left:15px;
    font-size:20px;
    font-weight:bold;
    width:150px;
  }
  
  
}

.btn-add{
  color:black;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color:lightcyan;
  
  
//   &:hover{
//     color:#fff;
//   }
  }

.btn-add:hover{
  color:#fff;
  background-color:#7bdae8;
  // opacity:0.3;
}

.pie_chart{
  margin-top:20px;
  margin-left:20px;
}

.work_status_info{
  margin-top:20px;
  margin-left:20px;
  height:150px;
  width:300px;
  background-color:whitesmoke;
}

.work_status_info li{
  font-size:15px;
  font-weight:bold;
  list-style: none;
  margin-left:90px;
  padding-top:20px;
}

// .work_title{
//   font-weight:bold;
// }

