// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
   background-color:#E6FFE9;
}
.row{
  margin:10px 0px;
}

.home-wrapper{
  width:100vp;
  height:100vh;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background: #43C6AC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F8FFAE, #43C6AC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F8FFAE, #43C6AC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.user_information{
  
  margin-top:90px;
  background-color:#fff;
  padding:0px;
  
  .user_status{
    height:90px;
    list-style:none;
    padding:30px;
    
    
    .current_user_name{
      padding:10px;
      background-color:lightcyan;
      margin-right:100px;
      margin-left:15px;
      font-size:20px;
    }
    
    .user_level{
      padding:10px;
      background-color:lightcyan;
      margin-right:50px;
      font-size:20px;
    }
  }
  
  .user_status li{
    float:left;
    font-weight:bold;
  }
}

.add_work_btn{
  margin-top:90px;
  padding:30px;
  height:100px;
  background-color:#fff;
  
}





.work_index{
  height:550px;
  background-color:#fff;
  margin-top:10px;
  // padding-top:10px;
  
  .work_title{
    padding:10px 30px;
    background-color:lightcyan;
    margin-top:10px;
    margin-left:30px;
    font-size:20px;
    font-weight:bold;
    width:150px;
    
    
  }
   .work_index_space{
    background-color:whitesmoke;
    height:435px;
    margin-left:30px;
    padding-top:20px;
   }
}


   
.work_chart{
  height:550px;
  background-color:#fff;
  margin-top:10px;
  
  
  .work_title2{
    padding:10px 30px;
    background-color:lightcyan;
    margin-top:10px;
    margin-left:15px;
    font-size:20px;
    font-weight:bold;
    width:150px;
  }
  
  
}

.btn-add{
  color:black;
  border: 1px solid #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  background-color:lightcyan;
  
  
//   &:hover{
//     color:#fff;
//   }
  }

.btn-add:hover{
  color:#fff;
  background-color:#7bdae8;
  // opacity:0.3;
}

.pie_chart{
  margin-top:20px;
  margin-left:20px;
}

.work_status_info{
  margin-top:20px;
  margin-left:20px;
  height:150px;
  width:300px;
  background-color:whitesmoke;
}

.work_status_info li{
  font-size:15px;
  font-weight:bold;
  list-style: none;
  margin-left:90px;
  padding-top:20px;
}

// .work_title{
//   font-weight:bold;
// }

.each_work{
  // width:200px;
  margin-left:0.5vw;
  text-align:center;
  float:left;
  padding-left:0px
  
 
  
  
 
}

.work_info{
  list-style:none;
  float:left;
  padding-right:1vw;
  // margin-left:2vw;
  padding-left:1vw;
  text-align:center;
  font-weight:bold;
 
 
}

.btn-work_desc{
  margin-top:0.1vh;
  padding-top:0.5vh;
  color:black;
  border:1px solid black;
  font-size:10px;
  background-color:#fff;
  width:13vw;
  text-align:left;
  
  &:hover{
    color:black;
    background-color:#CCFFFF;
  }
}

.work_status_name{
  text-align:center;
}

.work_due_date{
  margin:0.1vh 0.4vw;
  padding:0;
  
}

.due_date_title{
  margin-left:1vw;
}

.gyoumu{
  list-style:none;
  // float:left;
}

.text_1{
  margin-right:0.5vw;
   text-align:left;
  
}


.home-wrapper-for-add{
  width:100vp;
  height:100vh;
  background-position:center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  // background-color:#E6FFE9;
}

.work_title_info{
  color:black;
  margin-top:8vh;
  margin-bottom:2vh;
}

// .work_description{
//   height:30vh;
// }

.btn-add-work{
  margin-top:5px;
  color:black;
  border:1px solid black;
  background-color:#fff;
  height:6vh;
  
  &:hover{
    color:black;
    background-color:#CCFFFF;
  }
}

.time-label{
  margin-top:4vh;
  margin-left:0vw;
  font-size:18px;
}


.form-group{
  padding-left:0px;
  padding-right:0px;
}

.added_user_name{
  margin-top:4vh;
}

