// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-control{
  height:40px;
}

.users-new-wrapper{
  width:100vw;
  height:100vh;
  background-image: url("landscape-2990060_1920.jpg");
  background-position:center center;
  background-repeat:none;
  background-attachment:fixed;
  background-size:cover;
  
  .users-new-container{
    padding-top:150px;
    
    .form-control{
      margin-bottom:20px;
    }
  }
}

.text-white{
  color:#fff;
}

.alert{
  margin-bottom:0px;
  position:fixed;
  width:100%;
  z-index:10000;
  height:60px;
}

.navbar-transparent{
  margin_bottom:0px;
  background-color:rgba(0,200,200,0.5);
  // a{
  //   color:#fff !important;
  
  
  
  
  
  .navbar-brand{
    padding:0px;
    margin-top:15px;
    margin-left:0px;
  }
  
  img{
    height:60px;
    width:100px;
  }
  
  .logout{
    height:30px;
    margin-right:20px;
  }
  
 .navbar-right{
   margin-right:20px;
 }
}
