.users-new-wrapper{
  width:100vw;
  height:100vh;
  background-image: url("landscape-2990060_1920.jpg");
  background-position:center center;
  background-repeat:none;
  background-attachment:fixed;
  background-size:cover;
  
  .users-new-container{
    padding-top: 20vh;
    font-family: "Gill Sans", sans-serif;
    
  }
}

.text-white{
  color:#fff;
  
}

.alert{
  position:fixed;
  width:100%;
  z-index:10000;
  height:8vh;
}

.alert-primary{
  position:fixed;
  top:33%;
  left:33%;
  height:40vh;  
  z-index:10000;
  font-size:30px;
  background-image:url(freedom_flash.jpeg);
  background-repeat: no-repeat;
  padding-top:17vh;
  padding-left:17vh;
  font-family: "Gill Sans", sans-serif;
}

// nav{
  
// }

.navbar-transparent{
  background-color:rgba(0,200,200,0.5);
 
  .navbar-brand{
    // padding-top:3vh;
    margin-top:15px;
    margin-left:0px;
  }
  
  .logout{
    height:4vh;
    width:4vw;
  }
}



.freedom_logo{
  opacity:0.7;
  height:8vh;
}

.sign-up{
  margin-top: 15vh;
}